# Created by .ignore support plugin (hsz.mobi)
.idea/WheresWaldo.iml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/markdown-navigator.xml
